#divSample{
    width: 300px;
    height: 300px;
    background-color:blueviolet;
    position: fixed;
    left: 200px;
    top: 200px;
}

#divSample2{
      width: 300px;
    height: 300px;
    background-color:blueviolet;
    position: relative;
    left: 200px;
    top: 600px;
}

#divSample3{
    width: 100px;
    height: 100px;
    background-color: brown;
    position:absolute;
    left: 400px;
}

#zindexSample{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    z-index: 0;
}

#xIndex{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 200px;
    left: 130px;
    z-index: 3;
}

#yIndex{
    width: 250px;
    height: 150px;
    background-color: brown;
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 2;
}
